<!-- breadcrumb start -->
<section class="about-breadcrumb">
  <div class="about-back section-tb-padding" style="background-image:linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(assets/image/Grill_Valley/About/Banner2.jpg)">
      <div class="container">
          <div class="row">
              <div class="col">
                <div class="about-l">
                  <ul class="about-link">
                      <li class="go-home"><a routerLink="/home">Home</a></li>
                      <li class="about-p"><span>Cart</span></li>
                  </ul>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- breadcrumb end -->
  <!-- cart start -->
  <section class="cart-page section-tb-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                <div class="cart-item d-flex align-items-center justify-content-between">
                    <span class="cart-head">My cart:</span>
                    <span class="c-items">3 item</span>
                </div>
                <div class="cart-area">
                    <div class="cart-details">
                        <div class="cart-all-pro">
                            <div class="cart-pro">
                                <div class="cart-pro-image">
                                    <a href="product.html"><img src="image/Grill_Valley/Home/Menu/Variety Platters/1.jpg" class="w-100" alt="image"></a>
                                </div>
                                <div class="pro-details">
                                    <h4><a href="product.html">Mombar</a></h4>
                                    <span class="pro-size"><span class="size">Size:</span> 5kg</span>
                                    <span class="pro-shop">Variety Platters</span>
                                    <span class="cart-pro-price">140 LE</span>
                                </div>
                            </div>
                            <div class="qty-item">
                                <div class="center">
                                    <div class="plus-minus">
                                        <span>
                                            <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                            <input type="text" name="name" min="1" value="2">
                                            <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                        </span>
                                    </div>
                                    <a href="grid-list.html" class="pro-remove">Remove</a>
                                </div>
                            </div>
                            <div class="all-pro-price">
                                <span>280 EGP</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-area">
                    <div class="cart-details">
                        <div class="cart-all-pro">
                            <div class="cart-pro">
                                <div class="cart-pro-image">
                                    <a href="product.html"><img src="image/Grill_Valley/Home/Menu/Soups/1.jpg" class="w-100" alt="image"></a>
                                </div>
                                <div class="pro-details">
                                    <h4><a href="product.html">Pigeons  Soup
                                    </a></h4>
                                    <span class="pro-shop">ٍSoup</span>
                                    <span class="cart-pro-price">15 LE</span>
                                </div>
                            </div>
                            <div class="qty-item">
                                <div class="center">
                                    <div class="plus-minus">
                                        <span>
                                            <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                            <input type="text" name="name" min="1" value="1">
                                            <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                        </span>
                                    </div>
                                    <a href="grid-list.html" class="pro-remove">Remove</a>
                                </div>
                            </div>
                            <div class="all-pro-price">
                                <span>15 EGP</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cart-area">
                    <div class="cart-details">
                        <div class="cart-all-pro">
                            <div class="cart-pro">
                                <div class="cart-pro-image">
                                    <a href="product.html"><img src="image/Grill_Valley/Home/Menu/Meat Corner/1.jpg" class="w-100" alt="image"></a>
                                </div>
                                <div class="pro-details">
                                    <h4><a href="product.html">Meat Kebab

                                    </a></h4>
                                    <span class="pro-shop">Meat Corner
                                    </span>
                                    <span class="cart-pro-price">220 LE</span>
                                </div>
                            </div>
                            <div class="qty-item">
                                <div class="center">
                                    <div class="plus-minus">
                                        <span>
                                            <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                            <input type="text" name="name" min="1" value="1">
                                            <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                        </span>
                                    </div>
                                    <a href="grid-list.html" class="pro-remove">Remove</a>
                                </div>
                            </div>
                            <div class="all-pro-price">
                                <span>220 EGP</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                <div class="cart-total">
                    <div class="apply_cupon">

                        <form action="" method="GET">
                            <div class="row no-gutters align-items-center my-2">

                                <div class="col-7">
                                    <input type="text" name="" placeholder="Promo code" class="form-control w-100" id="">
                                </div>
                                <div class="col-5">
                                    <form action="" method="post">

                                        <button type="submit" href="empty-cart.html" class="btn btn-style1 w-100 mt-0">
                                            <span>
                                                Apply
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="cart-delivery">
                        <span>Delivery</span>
                        <span class="total">15 EGP</span>
                    </div>
                    <div class="cart-price">
                        <span>Subtotal</span>
                        <span class="total">375 EGP</span>
                    </div>
                    <div class="shop-total">
                        <span>Total</span>
                        <span class="total-amount">400 LE</span>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <form action="" method="post">

                                <button type="submit" class="btn btn-style1 w-100">
                                    <span>

                                        Checkout
                                    </span>
                                </button>
                            </form>
                        </div>
                        <div class="col-5">
                            <form action="" method="post">
                                <button type="submit" class="btn btn-style1 w-100">
                                    <span>

                                        Clear All
                                    </span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cart end -->
