<!-- start footer -->
<footer class="section-b-space light-layout">
  <div class="container">
      <div class="row footer-theme partition-f">
          <div class="col-lg-6 col-md-5">
              <div class="footer-contant">
                  <div class="footer-title">
                      <h4>ABOUT</h4>
                  </div>

                  <p>With Grill Valley, you will enjoy tasty sizzling meals in one of a kind atmosphere which will make you live an experience that will change your mind about fine dining.</p>
              </div>
          </div>
          <div class="col-lg-2 col-md-2">
              <div class="sub-title">
                  <div class="footer-title">
                      <h4>Useful links</h4>
                  </div>
                  <div class="footer-contant">
                      <ul>
                          <li><a routerLink="/home">Home</a></li>
                          <li><a routerLink="/menu">Menu</a></li>
                          <li><a routerLink="/about-us">About Us</a></li>
                          <li><a routerLink="/contact-us">Conatct Us</a></li>
                      </ul>
                  </div>
              </div>
          </div>

          <div class="col-lg-4 col-md-5 mt-0">
              <div class="sub-title">
                  <div class="footer-title">
                      <h4>store information</h4>
                  </div>
                  <div class="footer-contant">
                      <ul class="contact-list">
                          <li><i class="fa fa-map-marker"></i>North Teseen Street, First New Cairo


                          </li>
                          <li><i class="fa fa-phone"></i>Call us: <a href="tel:16661">16661</a></li>
                          <li><i class="fa fa-envelope-o"></i>Email Us: <a href="mailto:MeatORChicken@grilledvalley.com">MeatORChicken@grilledvalley.com

                          </a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
<!-- end footer -->
<!-- footer copyright start -->
<section class="footer-copyright">
  <div class="container">
      <div class="row">
          <div class="col">
              <div class="f-bottom text-center">

                  <p>All rights reserved by <a href="https://digitalbondmena.com"><img src="image/Grill_Valley/Home/Logo/SQ_Logo.png" class="digitalbond_logo" alt=""></a>© 2021</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- footer copyright end -->
