        <!-- top notificationbar start -->
        <section class="top-6">
          <div class="container-fluid">
              <div class="row ">
                  <div class="col">
                      <ul class="top-home">
                          <!-- offer text start -->
                          <li class="top-home-li t-content">
                              <p class="t-offer"><i class="fa fa-mobile mr-2" aria-hidden="true"></i><a href="tel:16661" class="text-white">16661</a> <i class="fa fa-envelope mr-2" aria-hidden="true"></i> <a class="text-white" href="mailto:MeatORChicken@grilledvalley.com">MeatORChicken@grilledvalley.com</a></p>

                          </li>
                          <!-- offer text start -->
                          <li class="top-home-li">
                              <ul class="top-dropdown">
                                  <li class="top-dropdown-li notification-title"><a routerLink="home">Home</a></li>
                                  <li class="top-dropdown-li notification-title"><a routerLink="about-us">About us</a></li>
                                  <li class="top-dropdown-li notification-title"><a routerLink="menu">Menu</a></li>
                                  <li class="top-dropdown-li notification-title"><a routerLink="contact-us">Contact us</a></li>


                              </ul>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      <!-- top notificationbar start -->
      <!-- header start -->
      <header class="header-area">
          <div class="header-main-area">
              <div class="container-fluid">
                  <div class="row">
                      <div class="col">
                          <div class="header-main p-0">
                              <div class="header-element right-block-box">
                                  <ul class="shop-element justify-content-start">

                                      <li class="side-wrap user-wrap">
                                          <div class="acc-desk">
                                              <div class="user-icon">
                                                  <a class="user-icon-desk">
                                                      <span class="background"><i class="icon-user"></i></span>
                                                  </a>
                                              </div>
                                              <div class="user-info">
                                                  <span class="acc-title">Account</span>
                                                  <div class="account-login">
                                                      <a routerLink="/register">Register</a>
                                                      <a routerLink="/login">Log in</a>
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="acc-mob">
                                              <a href="account.html" class="user-icon">
                                                  <span><i class="icon-user"></i></span>
                                              </a>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                              <!-- logo start -->
                              <div class="header-element logo text-center">
                                  <a routerLink="home">
                                      <img src="assets/image/Grill_Valley/Home/Logo/Logo.png" alt="logo-image" class="">
                                  </a>
                              </div>
                              <!-- logo end -->

                              <!-- header icon start -->
                              <div class="header-element right-block-box">
                                  <ul class="shop-element">



                                      <li class="side-wrap cart-wrap">
                                          <div class="shopping-widget">
                                              <div class="shopping-cart">
                                                  <a href="javascript:void(0)" class="cart-count">
                                                      <span class="cart-icon-wrap">
                                                          <span class="cart-icon"><i class="icon-handbag m-0"></i>
                                                              <span id="cart-total" class="bigcounter">5</span>
                                                          </span>
                                                      </span>
                                                  </a>
                                              </div>
                                          </div>
                                      </li>

                                      <li id="menuSideBar" class="side-wrap wishlist-wrap">
                                          <a href="javascript:void(0)" class="header-wishlist">
                                              <span class="wishlist-icon"><i class="fa fa-bars"></i>
                                              </span>
                                          </a>
                                      </li>

                                  </ul>
                              </div>
                              <!-- header icon end -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>


          <div class="mini-cart">
              <a href="javascript:void(0)" class="shopping-cart-close"><i class="ion-close-round"></i></a>
              <div class="cart-item-title">
                  <p>
                      <span class="cart-count-desc">There are</span>
                      <span class="cart-count-item bigcounter">3</span>
                      <span class="cart-count-desc">Products</span>
                  </p>
              </div>
              <ul class="cart-item-loop">
                  <li class="cart-item">
                      <div class="cart-img">
                          <a >
                              <img src="image/Grill_Valley/Home/Menu/Variety Platters/1.jpg" alt="cart-image" class="img-fluid">
                          </a>
                      </div>
                      <div class="cart-title">
                          <h6><a href="product_details.html">Mombar
                          </a></h6>
                          <div class="cart-pro-info">
                              <div class="cart-qty-price">
                                  <span class="quantity">1 x </span>
                                  <span class="price-box">140 LE </span>
                              </div>
                              <div class="plus-minus mt-0">
                                  <span>
                                      <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                      <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                  </span>
                              </div>
                              <div class="delete-item-cart">
                                  <a href="empty-cart.html"><i class="icon-trash icons"></i></a>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="cart-item">
                      <div class="cart-img">
                          <a >
                              <img src="assets/image/Grill_Valley/Home/Menu/Soups/1.jpg" alt="cart-image" class="img-fluid">
                          </a>
                      </div>
                      <div class="cart-title">
                          <h6><a href="product_details.html">
                              Pigeons With Vermicelli Soup</a></h6>
                          <div class="cart-pro-info">
                              <div class="cart-qty-price">
                                  <span class="quantity">1 x </span>
                                  <span class="price-box">15 LE
                                  </span>
                              </div>
                              <div class="plus-minus mt-0">
                                  <span>
                                      <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                      <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                  </span>
                              </div>
                              <div class="delete-item-cart">
                                  <a href="empty-cart.html"><i class="icon-trash icons"></i></a>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="cart-item">
                      <div class="cart-img">
                          <a >
                              <img src="image/Grill_Valley/Home/Menu/Meat Corner/1.jpg" alt="cart-image" class="img-fluid">
                          </a>
                      </div>
                      <div class="cart-title">
                          <h6><a href="product_details.html">
                              Meat Kebab</a></h6>
                          <div class="cart-pro-info">
                              <div class="cart-qty-price">
                                  <span class="quantity">1 x </span>
                                  <span class="price-box">220 LE</span>
                              </div>
                              <div class="plus-minus mt-0">
                                  <span>
                                      <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                                      <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                                  </span>
                              </div>
                              <div class="delete-item-cart">
                                  <a href="empty-cart.html"><i class="icon-trash icons"></i></a>
                              </div>
                          </div>
                      </div>
                  </li>

              </ul>
              <ul class="subtotal-title-area">
                  <li class="subtotal-info">
                      <div class="subtotal-titles">
                          <h6>Sub total:</h6>
                          <span class="subtotal-price">375 LE</span>
                      </div>
                  </li>
                  <li class="mini-cart-btns">
                      <div class="cart-btns">
                          <a routerLink="/cart" class="btn btn-style1"><span>View cart</span></a>
                          <a href="checkout.html" class="btn btn-style1"><span>Checkout</span></a>
                      </div>
                  </li>
              </ul>
          </div>

      </header>
      <!-- header end -->
      <!-- side - Menu -->
      <div class="sideMenu p-5" data-animation="slide-left">
          <button type="button " class="close bg-white px-0">
              <i class="fa fa-times fa-2x" aria-hidden="true"></i>
          </button>

          <ul class="list-unstyled">
              <li class="nav-item">
                  <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="about-us.html">About us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="menu.html">Menu</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="login.html">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="register.html">Register</a>
              </li>
          </ul>


      </div>
      <!-- minicart start -->
