            <!-- breadcrumb start -->
            <section class="about-breadcrumb">
              <div class="about-back section-tb-padding" style="background-image:linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(assets/image/Grill_Valley/About/Banner2.jpg)">
                  <div class="container">
                      <div class="row">
                          <div class="col">
                              <div class="about-l">
                                  <ul class="about-link">
                                      <li class="go-home"><a routerLink="/home">Home</a></li>
                                    <li class="about-p"><span>Register Complete</span></li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <!-- breadcrumb end -->
    <!-- Order complete start -->
    <section class="section-tb-padding">
      <div class="container">
          <div class="row">
              <div class="col">
                  <div class="order-area">

                      <div class="order-details">
                          <span class="text-success order-i"><i class="fa fa-check-circle"></i></span>
                          <h4>Thank you for Register</h4>
                          <span class="order-s">Registeration Is Successfully Processsed</span>
                          <a routerLink="/login" class="btn btn-style1">
                              <span>Login now</span>
                          </a>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Order complete end -->
