<!-- breadcrumb start -->
<section class="about-breadcrumb">
  <div class="about-back section-tb-padding" style="background-image:linear-gradient(to right bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(assets/image/Grill_Valley/About/Banner2.jpg)">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="about-l">
            <ul class="about-link">
              <li class="go-home"><a routerLink="/home">Home</a></li>
              <li class="about-p"><span>Meat Kebab
                </span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- breadcrumb end -->
<!-- product info start -->
<section class="section-tb-padding item-details pro-page">
  <div class="container">
    <div class="row">
      <div class="row pro-image">
        <div class="col-lg-5 col-md-6 col-12 col-xs-12 larg-image">
          <img src="assets/image/Grill_Valley/Home/Menu/Meat Corner/1.jpg" class="w-100" alt="">
        </div>
        <div class="col-lg-7 col-md-6 col-12 col-xs-12 pro-info">
          <h4>Mix Meat
          </h4>

          <div class="pro-availabale">
            <span class="available">Availability:</span>
            <span class="pro-instock">In stock</span>
          </div>
          <div class="pro-price">
            <span class="new-price">210 LE</span>
            <span class="old-price"><del>230 LE</del></span>
            <div class="Pro-lable">
              <span class="p-discount">-8%</span>
            </div>
          </div>
          <span class="pro-details">Hurry up! only <span class="pro-number">7</span> products left in stock!</span>
          <p>Hanging out at Grill Valley with friends and loved ones has always been one of the best experiences ever,
            with delicious food, friendly service and some nice ambience. You always feel happy and comfortable!
          </p>
          <form action="" method="post">

            <div class="pro-qty">
              <span class="qty">Quantity:</span>
              <div class="plus-minus mt-0">
                <span>
                  <a href="javascript:void(0)" class="minus-btn text-black">-</a>
                  <input type="text" name="name" value="1">
                  <a href="javascript:void(0)" class="plus-btn text-black">+</a>
                </span>
              </div>
            </div>
            <div class="pro-btn">
              <!-- <a href="wishlist.html" class="btn btn-style1"><i class="fa fa-heart"></i></a> -->
              <a  class="btn btn-style1 addToCartIcon">
                <span>
                  <i class="fa fa-shopping-bag"></i> Add to cart
                </span>
              </a>
            </div>

          </form>

      </div>
    </div>


  </div>
  </div>
</section>
<!-- product info end -->
<!-- product page tab start -->
<section class="section-b-padding pro-page-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="mb-3">Description</h3>
        <p>Hanging out at Grill Valley with friends and loved ones has always been one of the best experiences ever,
          with delicious food, friendly service and some nice ambience. You always feel happy and comfortable!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- product page tab end -->
<!-- releted product start -->
<section class="section-b-padding  pro-releted">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-title">
          <h2>Related Products</h2>
        </div>
        <div class="home6-tab swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Grilled Chicken/1.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Grilled Chicken/1.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>
                  <div class="Pro-lable">
                    <span class="p-text">New</span>
                  </div>
                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3>Stuffed Chicken</h3>

                  <div class="pro-price">
                    <span class="new-price">92 LE
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Main Platters/1.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Main Platters/1.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>
                  <div class="Pro-lable">
                    <span class="p-discount">-10%</span>
                  </div>
                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Stuffed Pigeon with Grits
                    </a></h3>

                  <div class="pro-price">
                    <span class="new-price">72 LE
                    </span>
                    <span class="old-price"><del>79 LE</del></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Meat Corner/1.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Meat Corner/1.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>

                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Meat Kebab
                    </a></h3>

                  <div class="pro-price">
                    <span class="new-price">220 LE</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Variety Platters/3.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Variety Platters/3.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>
                  <div class="Pro-lable">
                    <span class="p-text">New</span>
                  </div>
                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Vine Leaves
                    </a></h3>

                  <div class="pro-price">
                    <span class="new-price">110 LE</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Variety Platters/1.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Variety Platters/1.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>
                  <div class="Pro-lable">
                    <span class="p-discount">-12%</span>
                  </div>
                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Mombar</a></h3>

                  <div class="pro-price">
                    <span class="new-price">140 LE</span>
                    <span class="old-price"><del>145 LE</del></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Soups/1.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Soups/1.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>

                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Pigeons With Vermicelli Soup
                    </a></h3>

                  <div class="pro-price">
                    <span class="new-price">15 LE</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Main Platters/2.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Main Platters/2.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>

                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Plain Veal Shank
                    </a></h3>

                  <div class="pro-price">
                    <span class="new-price">140 LE
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Meat Corner/2.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Meat Corner/2.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>
                  <div class="Pro-lable">
                    <span class="p-text">New</span>
                  </div>
                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Mix Meat
                    </a></h3>

                  <div class="pro-price">
                    <span class="new-price">210 EGP</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Meat Corner/4.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Meat Corner/4.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>
                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Meat Dish</a></h3>
                  <div class="pro-price">
                    <span class="new-price">300 LE</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="tab-product">
                <div class="tred-pro">
                  <div class="tr-pro-img">
                    <a href="product-style-6.html">
                      <img src="assets/image/Grill_Valley/Home/Menu/Soups/3.jpg" alt="pro-img1" class="img-fluid">
                      <img src="assets/image/Grill_Valley/Home/Menu/Soups/3.jpg" alt="additional image"
                        class="img-fluid additional-image">
                    </a>
                  </div>
                  <div class="Pro-lable">
                    <span class="p-text">New</span>
                  </div>
                  <div class="pro-icn">
                    <a href="cart.html" class="w-c-q-icn"><i class="fa fa-shopping-bag"></i></a>
                    <a href="javascript:void(0)" class="w-c-q-icn" data-bs-toggle="modal"
                      data-bs-target="#exampleModal"><i class="fa fa-eye"></i></a>
                  </div>
                </div>
                <div class="tab-caption">
                  <h3><a href="product-style-6.html">Vegetables Soup</a></h3>
                  <div class="pro-price">
                    <span class="new-price">12 LE</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- releted product end -->
